### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

### Local CV Intelligence Engine ###
## Temporary files that should stay local:
templates/resume.n8n/temp/
